.c-grid-switcher,
.c-grid-switcher * {
    box-sizing: border-box;
}

.c-grid-switcher {
    height: 40px;
    width: 70px;
    border: 3px solid #0e77a3;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 2px 0 rgba(26,53,71,0.4);
    padding: 2px;
}

.c-grid-switcher__option {
    flex: 1 1 30px;
    max-width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 2px solid #fff;
    background: #fff;
    color: #0e77a3;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.c-grid-switcher__option:first-of-type {
    border-radius: 2px 0 0 2px;
}

.c-grid-switcher__option:last-of-type {
    border-radius: 0 2px 2px 0;
}

.c-grid-switcher__option--active {
    background: #0e77a3;
}

.c-grid-switcher__option .ez-icon {
    fill: #0e77a3;
    margin: auto;
    width: 18px;
    height: 18px;
}

.c-grid-switcher__option--active .ez-icon {
    fill: #fff;
}

.c-grid-switcher__option--disabled {
    pointer-events: none;
    opacity: .5;
}

.c-grid-switcher--disabled {
    cursor: not-allowed;
}
