.m-sub-items,
.m-sub-items * {
    box-sizing: border-box;
}

.m-sub-items {
    color: #333;
}

.m-sub-items__header {
    height: 50px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    line-height: 50px;
    background-color: #445a64;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
}

.m-sub-items__title {
    font-size: 17px;
    color: #fff;
    flex: 1 1 auto;
}

.m-sub-items__actions {
    display: flex;
}

.m-sub-items__actions .m-mfu {
    margin-right: 8px;
    display: flex;
}

.m-sub-items__list {
    background: #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: left;
    position: relative;
}

.m-sub-items__list--loading:after {
    content: '';
    position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.m-sub-items__btn {
    display: inline-flex;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: center;
    margin-right: 8px;
}

.m-sub-items__btn .ez-icon {
    fill: #fff;
}

.m-sub-items__btn--disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.m-sub-items__btn--move {
    border: 1px solid #106d95;
    background-color: #106d95;
}

.m-sub-items__btn--trash {
    border: 1px solid #d92d42;
    background-color: #d92d42;
}
