.c-selected-content-popup .c-popup {
    width: 640px;
}

.c-selected-content-popup .c-popup__content {
    display: flex;
    flex-wrap: wrap;
}

.c-selected-content-popup .c-selected-content-item {
    flex: 1 1 calc(50% - 8px);
    max-width: calc(50% - 8px);
    margin: 4px;
}
