.c-selected-content-item {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.c-selected-content-item__remove {
    background: #b30;
    color: #fff;
    flex: 0 0 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: background .3s var(--transition-function);
}

.c-selected-content-item__remove:hover {
    background: #d30;
}

.c-selected-content-item__wrapper {
    flex: 1 1 auto;
    padding: 4px;
}

.c-selected-content-item__name {
    margin-bottom: 16px;
    font-weight: 700;
}
