.c-selected-content {
    position: relative;
    z-index: 1;
}

.c-selected-content__title {
    font-size: 15px;
    line-height: 20px;
}

.c-selected-content__content-names {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 15px;
}

.c-selected-content .c-popup {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateY(-100%) translateY(-16px);
    border-radius: 6px;
}

.c-selected-content .c-popup:after {
    position: absolute;
    bottom: 0;
    left: 16px;
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #eee;
    transform: translateY(100%) translateY(-1px);
}

.c-selected-content__label--limit {
    padding-left: 8px;
    font-style: italic;
}
