.c-selected-content-popup .c-popup {
    padding: 8px;
    min-width: 400px;
}

.c-selected-content-popup .c-popup__content {
    display: flex;
    flex-wrap: wrap;
}

.c-selected-content-popup .c-popup__header {
    margin-bottom: 4px;
    margin-left: 6px;
}

.c-selected-content-popup .c-popup__title {
    color: #2b84b1;
    font-size: 17px;
    line-height: 20px;
}

.c-selected-content-popup .c-popup__close {
    right: 0;
}

.c-selected-content-popup .c-selected-content-item {
    flex: 1 1 calc(50% - 8px);
    max-width: calc(50% - 8px);
    margin: 4px;
    border-radius: 2px 0 0 2px;
}
