.c-grid-view,
.c-grid-view * {
    box-sizing: border-box;
}

.c-grid-view {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4px;
    margin-top: 8px;
}

.c-grid-view .c-grid-view-item {
    flex: 1 1 calc(100% / 6);
    max-width: 166px;
}

.c-grid-view .c-grid-view-item + .c-grid-view-item {
    margin-left: 8px;
}

.c-grid-view .c-grid-view-item:nth-child(7n) {
    margin-left: 0;
}
