.c-grid-view,
.c-grid-view * {
    box-sizing: border-box;
}

.c-grid-view {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-top: 8px;
}

.c-grid-view .c-grid-view-item {
    flex: 1 1 calc(100% / 6);
    max-width: 166px;
    margin-right: 8px;
}
