.m-ud,
.m-ud * {
    box-sizing: border-box;
}

.m-ud {
    position: absolute;
    z-index: 2;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    padding: 16px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.35);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48px 48px 1fr 48px;
}

.m-ud__wrapper {
    background: rgba(0,0,0,.35);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.m-ud__title {
    margin: 0;
    grid-row: 1 / 2;
}

.m-ud__nav {
    grid-row: 2 / 3;
    display: flex;
    align-items: baseline;
}

.m-ud__nav .c-tab-nav-item__wrapper {
    align-self: flex-end;
}

.m-ud__content {
    grid-row: 3 / 6;
}

.m-ud__panels {
    padding: 16px;
    background: #e3e3e3;
    overflow: auto;
    height: 100%;
}

[class*="m-ud__panels--"] {
    height: 100%;
}

.m-ud__actions {
    grid-row: 6 / 7;
    height: 48px;
    text-align: right;
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.m-ud__selected-content {
    grid-column: 1 / 2;
    text-align: left;
}

.m-ud__btns {
    grid-column: 2 / 3;
}

.m-ud__action--cancel {
    background: none;
    font-size: 16px;
    border: 0 none;
    padding: 8px;
    margin: 0 16px;
}

.m-ud__action--confirm {
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
    border: 1px solid #bbb;
    cursor: pointer;
    transition: background .3s var(--transition-function);
}

.m-ud__action--confirm:hover,
.m-ud__action--confirm:focus {
    background: linear-gradient(to bottom, #e6e6e6 0%, #fff 100%);
}

.m-ud__action--confirm[disabled] {
    cursor: not-allowed;
    background: #e6e6e6;
}

[class*="m-ud__tabs--"] {
    display: inline-block;
}

.m-ud--with-preview .m-ud__content {
    display: grid;
    grid-template-columns: auto 300px;
    grid-column-gap: 16px;
}

.m-ud--with-preview .m-ud__panels {
    grid-column: 1 / 2;
}

.m-ud--with-preview .m-ud__preview {
    grid-column: 2 / 3;
}

.m-ud--with-preview.m-ud--with-selected-content .m-ud__panels {
    grid-row: 1 / 2;
}

.m-ud--with-preview.m-ud--with-selected-content .m-ud__preview {
    grid-row: 1 / 2;
}
