.m-ud,
.m-ud * {
    box-sizing: border-box;
}

.m-ud {
    position: absolute;
    z-index: 2;
    width: 95vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.35);
    border-radius: 4px;
}

.m-ud__wrapper {
    background: rgba(0,0,0,.35);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.m-ud__title {
    margin: 0;
    padding: 16px;
    background: #dbdbdb;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    border-radius: 6px 6px 0 0;
}

.m-ud__content-wrapper {
    padding: 16px;
    display: grid;
    height: calc(100% - 64px);
    grid-template-columns: auto;
    grid-template-rows: 32px 1fr 64px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

.m-ud__nav {
    grid-area: nav;
    display: flex;
    align-items: baseline;
}

.m-ud__nav .c-tab-nav-item__wrapper {
    align-self: flex-end;
}

.m-ud__content {
    grid-area: main;
    padding: 16px;
    background: #e3e3e3;
    border-radius: 4px;
}

.m-ud__panels {
    overflow: auto;
    height: 100%;
}

[class*="m-ud__panels--"] {
    height: 100%;
}

.m-ud__actions {
    grid-area: footer;
    text-align: right;
    padding-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.m-ud__selected-content {
    grid-column: 1 / 2;
    text-align: left;
}

.m-ud__btns {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

[class*="m-ud__action--"] {
    font-size: 16px;
    border: 0 none;
    padding: 8px 32px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background .3s cubic-bezier(.25, .8, .25, 1);
}

.m-ud__action--cancel {
    margin: 0 16px;
    background: #646464;
}

.m-ud__action--cancel:hover,
.m-ud__action--cancel:focus {
    background: #3e3e3e;
}

.m-ud__action--confirm,
.m-ud__action--create-content {
    font-weight: 700;
    background: #f15a10;
}

.m-ud__action--confirm:hover,
.m-ud__action--confirm:focus,
.m-ud__action--create-content:hover,
.m-ud__action--create-content:focus {
    background: #cb3400;
}

.m-ud__action--confirm[disabled],
.m-ud__action--create-content[disabled] {
    cursor: not-allowed;
    opacity: .3;
}

[class*="m-ud__tabs--"] {
    display: inline-block;
}

.m-ud--with-preview .m-ud__content {
    display: grid;
    grid-template-columns: 1fr 230px;
    grid-column-gap: 16px;
    grid-template-areas: "c-main c-preview";
}

.m-ud--with-preview .m-ud__panels {
    grid-area: c-main;
}

.m-ud--with-preview .m-ud__preview {
    grid-area: c-preview;
}

.m-ud--with-preview.m-ud--with-selected-content .m-ud__panels {
    grid-row: 1 / 2;
}

.m-ud--with-preview.m-ud--with-selected-content .m-ud__preview {
    grid-row: 1 / 2;
}

.m-ud__no-permission {
    color: #d92d42;
    max-width: 21rem;
    display: inline-block;
}
