.c-upload-list-item {
    display: flex;
    background: #fff;
    padding: 8px 16px;
    align-items: center;
    height: 60px;
}

.c-upload-list-item .ez-icon {
    width: 20px;
    height: 20px;
}

.c-upload-list-item__icon {
    flex: 0 0 20px;
    display: flex;
    align-items: center;
}

.c-upload-list-item__meta {
    padding: 0 16px;
    line-height: 1.4;
    max-width: 25vw;
}

.c-upload-list-item__name {
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.c-upload-list-item__size {
    font-size: 10px;
}

.c-upload-list-item__info {
    flex: 1 1 auto;
}

[class*="c-upload-list-item__message--"] {
    font-style: italic;
    font-size: 12px;
    color: #00825c;
}

.c-upload-list-item__message--error {
    padding-top: 3px;
    color: #aa0000;
    font-weight: 700;
}

.c-upload-list-item__actions {
    flex: 1 1 44px;
    max-width: 88px;
    padding-top: 8px;
    text-align: right;
}

[class*="c-upload-list-item__action--"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

[class*="c-upload-list-item__action--"]:last-child {
    margin-right: 0;
}

.c-upload-list-item__action--edit {
    fill: #f15a10;
    transition: all .3s ease-in-out;
    width: 20px;
    height: 20px;
}

.c-upload-list-item__action--edit:hover,
.c-upload-list-item__action--edit:focus {
    fill: #c3480b;
}

.c-upload-list-item__action--delete {
    fill: #d92d42;
}

.c-upload-list-item__action--delete:hover,
.c-upload-list-item__action--delete:focus {
    fill: #b32032;
}

.c-upload-list-item__action--abort {
    fill: #878787;
}

.c-upload-list-item__action--abort:hover,
.c-upload-list-item__action--abort:focus {
    fill: #555;
}

.c-upload-list-item .c-progress-bar {
    max-width: 200px;
    float: right;
}
