.c-create-panel {
    height: 100%;
}

.c-create-panel .c-tab-content-panel {
    display: grid;
    grid-template-areas: "first-step second-step";
    grid-template-columns: 310px 1fr;
    grid-column-gap: 16px;
}

.c-create-panel__first-step {
    grid-area: first-step;
}

.c-create-panel__second-step {
    grid-area: second-step;
}

.c-create-panel__step-title {
    color: #2b84b1;
    font-weight: 700;
}
