.c-grid-view-item {
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s $ez-admin-transition;
    position: relative;
    background: $ez-ground-base;
    border-radius: calculateRem(4px);
    margin-bottom: calculateRem(8px);

    &:hover,
    &:focus {
        text-decoration: none;
        background: #e5e3e3;
    }

    &__content-type {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: calculateRem(30px);
        height: calculateRem(30px);
        background: #fafafa;
        border-radius: calculateRem(4px) 0 0 0;
    }

    &__content-type .ez-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__image {
        display: block;
        width: auto;
        height: auto;
        max-width: calculateRem(166px);
        max-height: calculateRem(166px);
    }

    &__image-wrapper {
        height: calculateRem(166px);
        width: calculateRem(166px);
        border-radius: calculateRem(4px) calculateRem(4px) 0 0;
        background: $ez-ground-base-dark;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        word-break: break-all;
        line-height: calculateRem(20px);
        padding: calculateRem(10px) 0;
        font-size: calculateRem(14px);
        padding: calculateRem(4px) calculateRem(8px);
        color: $ez-black;
        font-weight: bold;
    }
}
