$list-item: '.c-list-item';
$list-item-height: calculateRem(20px);

#{$list-item} {
    line-height: $list-item-height;
    max-height: $list-item-height;

    &__label {
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: relative;
        font-size: calculateRem(12px);
        padding-left: calculateRem(14px);

        &:hover,
        &:focus {
            background: $ez-secondary-ground-pale;
            outline: none;
        }
    }

    &__link {
        color: inherit;
        display: flex;
        align-items: center;
        background: none;

        &:hover,
        &:focus {
            text-decoration: none;
            color: inherit;
        }
    }

    &__icon {
        height: $list-item-height;
        display: inline-flex;
        align-items: center;
        margin-right: calculateRem(4px);
    }

    &__toggler {
        position: absolute;
        left: 0;
        height: 100%;
        width: calculateRem(16px);

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: calculateRem(4px) 0 calculateRem(4px) calculateRem(6px);
            border-color: transparent transparent transparent $ez-black;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: calculateRem(4px);
            transform: translateY(-50%) scale(1, 0.8);
            transform-origin: center center;
        }

        &--light {
            &:before {
                border-color: transparent transparent transparent $ez-white;
            }
        }
    }

    &__load-more-btn {
        display: flex;
        align-items: center;
        padding: 0;
        background: none;
        text-align: center;
        color: $ez-color-base-light;
        border-radius: calculateRem(4px);
        margin-left: calculateRem(26px);
        transition: background 0.3s $ez-admin-transition, color 0.3s $ez-admin-transition;
        cursor: pointer;
        font-size: calculateRem(12px);

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($ez-black, 0.25);
        }

        &:hover {
            color: $ez-color-base-light;
        }

        .ez-icon {
            fill: $ez-color-base-dark;
        }
    }

    &__load-more-btn-spinner {
        margin-right: calculateRem(4px);
    }

    .c-list {
        opacity: 0;
        list-style: none;
        max-height: 0;
        overflow: hidden;
    }

    &--has-sub-items {
        > #{$list-item}__label {
            #{$list-item}__toggler {
                cursor: pointer;

                &:before {
                    content: '';
                }
            }
        }
    }

    &--is-expanded {
        max-height: initial;

        > .c-list {
            opacity: 1;
            max-height: calculateRem(20000px);
        }

        > #{$list-item} {
            &__label {
                #{$list-item}__toggler {
                    &:before {
                        border-width: calculateRem(6px) calculateRem(4px) 0 calculateRem(4px);
                        border-color: $ez-black transparent transparent transparent;
                        transform: translateY(-50%) scale(0.8, 1);
                    }
                }
            }
        }
    }

    &--is-hidden {
        > #{$list-item} {
            &__label {
                background: $ez-ground-base;
                opacity: 0.3;
            }
        }
    }

    &--is-selected {
        > #{$list-item} {
            &__label {
                &,
                &:hover,
                &:focus {
                    background: $ez-secondary-ground;
                    color: $ez-white;
                }

                #{$list-item}__toggler {
                    &--light {
                        &,
                        &:hover,
                        &:focus {
                            &:before {
                                border-color: transparent transparent transparent $ez-white;
                            }
                        }
                    }
                }
            }
        }

        &#{$list-item}--is-expanded > #{$list-item} {
            &__label {
                #{$list-item}__toggler {
                    &--light {
                        &,
                        &:hover,
                        &:focus {
                            &:before {
                                border-color: $ez-white transparent transparent transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}
