.c-search-pagination {
    text-align: center;
    padding: 8px 0;
}

.c-search-pagination:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

[class*="c-search-pagination__btn--"] {
    border: 0 none;
    background: #106d95;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 400;
}

[class*="c-search-pagination__btn--"][disabled] {
    background: #646464;
    cursor: not-allowed;
}

.c-search-pagination__btn--first {
    float: left;
}

.c-search-pagination__btn--last {
    float: right;
}

.c-search-pagination__btn--middle {
    margin: 0 8px;
}
