.c-search-results {
    overflow: auto;
}

.c-search-results__title {
    font-size: 18px;
    font-weight: 700;
}

.c-search-results__list-headers,
.c-search-results .c-search-results-item {
    display: flex;
    flex-wrap: nowrap;
}

.c-search-results__list {
    border: 1px solid #cbcbcb;
}

[class*="c-search-results__list-header--"] {
    padding: 8px 16px;
    background: #e0e0e0;
    font-weight: 700;
}

.c-search-results__list-header--name,
.c-search-results .c-search-results-item__name {
    flex: 1 1 280px;
}

.c-search-results__list-header--type,
.c-search-results .c-search-results-item__type {
    flex: 1 1 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c-search-results__list-header--span,
.c-search-results .c-search-results-item__actions {
    flex: 0 0 90px;
}
