.c-search-results {
    overflow: auto;
}

.c-search-results__title {
    font-size: 17px;
    border-radius: 4px 4px 0 0;
    background-color: #445A64;
    color: #fff;
    line-height: 50px;
    padding: 0 16px
}

.c-search-results__list-headers,
.c-search-results .c-search-results-item {
    display: flex;
    flex-wrap: nowrap;
}

[class*="c-search-results__list-header--"] {
    padding: 8px 16px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.c-search-results__list-header--name,
.c-search-results .c-search-results-item__name {
    flex: 1 1 280px;
}

.c-search-results__list-header--type,
.c-search-results .c-search-results-item__type {
    flex: 1 1 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c-search-results__list-header--span,
.c-search-results .c-search-results-item__actions {
    flex: 0 0 90px;
}
