.c-search-results-item__name,
.c-search-results-item__type,
.c-search-results-item__actions {
    padding: 8px 16px;
    border-top: 1px solid #cbcbcb;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.c-search-results-item__name {
    flex: 1 1 280px;
}

.c-search-results-item__type {
    flex: 1 1 180px;
}

.c-search-results-item__actions {
    flex: 1 1 auto;
}

.c-search-results-item__btn--preview {
    padding: 4px 8px;
    font-size: 12px;;
    border-radius: 4px;
    width: 100%;
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
    border: 1px solid #bbb;
    cursor: pointer;
    transition: background .3s var(--transition-function);
}

.c-search-results-item__btn--preview:hover,
.c-search-results-item__btn--preview:focus {
    background: linear-gradient(to bottom, #e6e6e6 0%, #fff 100%);
}
