.c-finder-leaf {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: $ez-secondary-ground-pale;

        .c-finder-leaf__selection-button {
            opacity: 1;
        }
    }

    &__selection-button {
        border: none;
        border-radius: 50%;
        background: $ez-color-base-pale;
        height: calculateRem(20px);
        width: calculateRem(20px);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        .ez-icon {
            fill: $ez-color-base-medium;
        }

        &--selected {
            background-color: $ez-color-positive;
            opacity: 1;

            .ez-icon {
                fill: $ez-white;
            }
        }
    }

    &--marked {
        background-color: $ez-secondary-ground;
        color: $ez-white;

        &:hover {
            background-color: $ez-secondary-ground;
        }

        .c-finder-leaf__selection-button {
            &--selected {
                background-color: $ez-white;

                .ez-icon {
                    fill: $ez-color-secondary;
                }
            }
        }
    }
}
