.c-grid {
    height: 100%;

    &__items-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: calculateRem(16px);
        align-items: flex-start;
        overflow: auto;
        max-height: calc(100% - #{calculateRem(30px)});
    }

    &__go-up {
        width: calculateRem(165px);
        height: calculateRem(165px);
        background-color: $ez-color-base-pale;
        margin-right: calculateRem(29px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
