.c-popup {
    background: #eee;
    padding: 16px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.35);
    position: relative;
}

.c-popup__header {
    position: relative;
}

.c-popup__title {
    margin-top: 0;
}

.c-popup__close {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 16px;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
}

.c-popup__close .ez-icon {
    width: 16px;
    height: 16px;
    fill: #333;
}
