body.ezs-non-scrollable {
    overflow: hidden;
    position: relative;
}

/* .c-popup__dialog {
    z-index: 1000000;
    height: 80vh;
} */

.c-popup__content {
    width: 100%;
    height: 100%;
}

.c-popup__btn--close {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    width: 56px;
    height: 56px;
}

.c-popup__header {
    display: block;
    background: #dbdbdb;
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    padding: 8px 16px;
}

.c-popup__header--plain {
    border-bottom: none;
    padding: 15px 15px 0 15px;
    position: relative;
    min-height: 2.5rem;
    background: #ededed;
}

.c-popup__footer--plain {
    border-top: none;
}

.c-popup__body {
    /* height: calc(100% - 60px); */
    padding: 16px 0 0;
}

.c-popup__body .modal-body {
    padding: 0;
}

.c-popup__headline {
    max-width: calc(100% - 56px);
}

.c-popup__title {
    line-height: 1;
    display: block;
    font-size: 24px;
}

.c-popup__subtitle {
    display: inline-block;
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: -4px;
    left: 1px;
}

/* .c-popup--airtime .c-popup__btns {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.c-popup--airtime .c-popup__btns .btn {
    margin-right: 16px;
}

.c-popup--airtime .c-popup__body {
    padding: 16px;
}

.c-popup--airtime .c-popup__dialog {
    height: auto;
    width: 342px;
} */
