.c-popup__content {
    width: 100%;
    height: 100%;
}

.c-popup__btn--close {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    width: 56px;
    height: 56px;
}

.c-popup__header {
    display: block;
    background: #dbdbdb;
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    padding: 8px 16px;
}

.c-popup__body {
    padding: 16px 0 0;
}

.c-popup__body .modal-body {
    padding: 0;
}

.c-popup__headline {
    max-width: calc(100% - 56px);
}

.c-popup__title {
    line-height: 1;
    display: block;
    font-size: 24px;
}

.c-popup__subtitle {
    display: inline-block;
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: -4px;
    left: 1px;
}

.c-popup--no-header .c-popup__header {
    border-bottom: none;
    padding: 15px 15px 0 15px;
    position: relative;
    min-height: 2.5rem;
    background: #ededed;
}

.c-popup--no-header .c-popup__footer {
    border-top: none;
}
