.c-popup {
    background: #eee;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.35);
    border-radius: 4px;
}

.c-popup__header {
    position: relative;
    z-index: 1;
}

.c-popup__title {
    margin-top: 0;
}

.c-popup__close {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #9B9B9B;
    transform: translate(-50%, -50%);
}
