@import './web/bundles/ezplatformadminui/scss/custom';
@import './web/bundles/ezplatformadminui/scss/functions/calculate.rem';
@import './web/bundles/ezplatformadminui/scss/mixins';
@import 'modules/common';
@import 'modules/multi.file.upload';
@import 'modules/sub.items.list';
@import 'modules/content.tree';
@import 'modules/universal.discovery';
@import 'modules/udw/main';
