.c-bookmarks {
    height: 100%;
    overflow: auto;
    padding-top: calculateRem(8px);

    &__no-bookmarks-info {
        padding-top: calculateRem(15px);
        padding-left: calculateRem(20px);
        font-size: calculateRem(25px);
        color: $ez-color-base-light;
    }

    &__loading-spinner {
        width: 100%;
        height: calculateRem(50px);
        min-width: calculateRem(50px);
        margin: 0 auto;
        margin-top: calculateRem(15px);
    }
}
