.c-content-creator {
    .m-ud {
        &__content-wrapper {
            padding: 0 0 calculateRem(16px) 0;
            grid-template-rows: 1fr calculateRem(64px);
            grid-template-areas: 'main' 'footer';
        }

        &__content {
            padding: 0;
            background: $ez-ground-base-medium;
            position: relative;
        }

        &__actions {
            padding-right: calculateRem(16px);
        }

        &__action--publish {
            font-weight: bold;
            background: $ez-color-primary;

            &:hover,
            &:focus {
                background: $ez-color-primary-hover;
            }

            &[disabled],
            &[disabled]:hover,
            &[disabled]:focus {
                cursor: not-allowed;
                background: $ez-color-primary;
                opacity: 0.3;
            }
        }
    }

    &__iframe {
        width: 100%;
        border: none;
    }

    .ez-icon-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .is-loading:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $ez-ground-base-dark;
    }
}
