.c-finder-tree-leaf {
    padding: 0 calculateRem(40px) 0 0;
    cursor: pointer;
    transition: background 0.3s $ez-admin-transition;
    position: relative;
    background: $ez-white;
    line-height: calculateRem(25px);
    font-size: calculateRem(14px);
    color: $ez-color-base-dark;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        background: $ez-secondary-ground-pale;
        color: $ez-color-base-dark;

        &:after {
            border-left-color: $ez-color-base-medium;
        }
    }

    &--has-children:after {
        content: '';
        width: 0;
        height: 0;
        border-top: calculateRem(5px) solid transparent;
        border-left: calculateRem(8px) solid $ez-color-base-medium;
        border-bottom: calculateRem(5px) solid transparent;
        position: absolute;
        right: calculateRem(8px);
        top: 50%;
        transform: translateY(-50%);
    }

    &--not-selectable {
        &,
        &:hover,
        &:focus {
            background: $ez-ground-base-medium;
            cursor: not-allowed;
        }
    }

    &--selected {
        &,
        &:hover,
        &:focus {
            background: $ez-secondary-ground;
            color: $ez-white;
        }

        &.c-finder-tree-leaf--has-children {
            &:after,
            &:hover:after,
            &:focus:after {
                border-left-color: $ez-white;
            }
        }

        &.c-finder-tree-leaf--loading:after {
            display: none;
        }

        .c-select-content-button {
            background: $ez-white;

            .ez-icon {
                fill: $ez-color-secondary;
            }

            &:hover,
            &:focus {
                .ez-icon {
                    fill: $ez-color-secondary-hover;
                }
            }
        }
    }

    &__loading-icon {
        position: absolute;
        right: calculateRem(12px);
        top: calculateRem(5px);
    }

    &__icon {
        display: flex;
        height: calculateRem(16px);
        padding: 0 calculateRem(4px) 0 calculateRem(8px);
    }

    &__content-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .c-select-content-button {
        display: none;
        padding: calculateRem(2px);
        position: absolute;
        right: calculateRem(21px);
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover .c-select-content-button,
    &:focus .c-select-content-button,
    .c-select-content-button--selected {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
