.c-finder {
    &__branches {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;

        .c-finder-tree-branch + .c-finder-tree-branch {
            margin-left: calculateRem(16px);
        }
    }
}
