.c-finder {
    &__branches {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;

        .c-finder-tree-branch + .c-finder-tree-branch {
            margin-left: calculateRem(16px);
        }
    }

    &__no-content-info {
        padding-top: calculateRem(39px);
        padding-left: calculateRem(36px);
        font-size: calculateRem(25px);
        color: $ez-color-base-light;
    }
}
