.c-create-panel {
    height: 100%;

    .c-tab-content-panel {
        display: grid;
        grid-template-areas: 'first-step second-step';
        grid-template-columns: calculateRem(310px) 1fr;
        grid-column-gap: calculateRem(16px);
    }

    &__first-step {
        grid-area: first-step;
    }

    &__second-step {
        grid-area: second-step;
    }

    &__step-title {
        color: $ez-secondary-ground;
        font-weight: bold;
    }
}
