.c-search-pagination {
    text-align: center;
    padding: calculateRem(8px) 0;

    &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }

    &__btn {
        border: 0 none;
        background: $ez-color-secondary;
        color: $ez-white;
        font-size: calculateRem(13px);
        line-height: calculateRem(15px);
        cursor: pointer;
        border-radius: calculateRem(4px);
        padding: calculateRem(8px) calculateRem(16px);
        font-weight: normal;
        transition: background 0.3s $ez-admin-transition;

        &:not([disabled]):hover,
        &:not([disabled]):focus {
            outline: none;
            background: $ez-color-secondary-hover;
        }

        &[disabled] {
            background: $ez-color-secondary;
            cursor: not-allowed;
            opacity: 0.3;
        }

        &--first {
            float: left;
        }

        &--last {
            float: right;
        }

        &--middle {
            margin: 0 calculateRem(8px);
        }
    }
}
