.c-search-results {
    overflow: auto;

    &__title {
        font-size: calculateRem(17px);
        border-radius: calculateRem(4px) calculateRem(4px) 0 0;
        background: $ez-ground-primary-inverted-light;
        color: $ez-white;
        line-height: calculateRem(50px);
        padding: 0 calculateRem(16px);
    }

    &__list-headers,
    .c-search-results-item {
        display: flex;
        flex-wrap: nowrap;
    }

    &__list-header {
        padding: calculateRem(8px) calculateRem(16px);
        font-weight: bold;
        font-size: calculateRem(15px);
        line-height: calculateRem(20px);
    }

    &__list-header--name,
    .c-search-results-item__name {
        flex: 1 1 calculateRem(280px);
    }

    &__list-header--type,
    .c-search-results-item__type {
        flex: 1 1 calculateRem(180px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__list-header--span,
    .c-search-results-item__actions {
        flex: 0 0 calculateRem(90px);
    }
}
