.c-search-results-item {
    &__name,
    &__type,
    &__actions {
        padding: calculateRem(8px) calculateRem(16px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: calculateRem(15px);
        line-height: calculateRem(20px);
        border-top: calculateRem(1px) solid $ez-ground-primary-inverted-light;
    }

    &__name {
        flex: 1 1 calculateRem(280px);
    }

    &__type {
        flex: 1 1 calculateRem(180px);
    }

    &__actions {
        flex: 1 1 auto;
    }

    &__preview-btn {
        background: none;
        border: 0 none;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0;

        &:hover,
        &:focus {
            outline: none;

            .ez-icon {
                fill: $ez-color-secondary-hover;
            }
        }
    }
}
