.c-selected-content-item {
    background: $ez-white;
    display: flex;
    flex-wrap: nowrap;

    &__remove {
        background: $ez-color-danger;
        color: $ez-white;
        flex: 0 0 calculateRem(20px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0 calculateRem(2px) calculateRem(2px) 0;
        transition: background 0.3s $ez-admin-transition;

        &:hover,
        &:focus {
            background: $ez-color-danger-hover;
            outline: none;
        }
    }

    &__wrapper {
        flex: 1 1 auto;
        padding: calculateRem(4px) calculateRem(6px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        margin-bottom: calculateRem(16px);
        font-weight: bold;
        word-break: break-all;
        font-size: calculateRem(15px);
        padding: 0 calculateRem(4px);
    }

    &__type {
        font-size: calculateRem(13px);
        line-height: calculateRem(15px);
        word-break: break-all;
        color: $ez-color-base-dark;
        background: $ez-ground-base;
        display: flex;
        align-items: center;
        padding: calculateRem(2px) calculateRem(4px);
        border-radius: calculateRem(2px);
    }

    &__icon {
        fill: $ez-color-base-light;
        margin-right: calculateRem(8px);
    }
}
