.c-selected-content-popup {
    .c-tooltip-popup {
        padding: calculateRem(8px);
        min-width: calculateRem(400px);

        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__header {
            margin-bottom: calculateRem(4px);
            margin-left: calculateRem(6px);
        }

        &__title {
            color: $ez-secondary-ground;
            font-size: calculateRem(17px);
            line-height: calculateRem(20px);
        }

        &__close {
            right: 0;
        }
    }

    .c-selected-content-item {
        flex: 1 1 calc(50% - #{calculateRem(8px)});
        max-width: calc(50% - #{calculateRem(8px)});
        margin: calculateRem(4px);
        border-radius: calculateRem(2px) 0 0 calculateRem(2px);
    }
}
