.c-tab-nav-item {
    border: 0 none;
    border-radius: calculateRem(8px) calculateRem(8px) 0 0;
    font-size: calculateRem(16px);
    line-height: calculateRem(30px);
    padding: calculateRem(4px) calculateRem(16px);
    outline: none;
    cursor: pointer;
    transition: background 0.3s $ez-admin-transition, color 0.3s $ez-admin-transition;
    color: $ez-color-base-dark;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        background: $ez-ground-base-medium-hover;
        outline: none;
    }

    &--selected,
    &--selected:hover,
    &--selected:focus {
        background: $ez-ground-base-dark;
        color: $ez-black;
        font-weight: bold;
    }

    &__icon {
        margin-right: calculateRem(4px);
    }
}
