.c-finder-tree-leaf {
    padding: 0 40px 0 16px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    background: #fff;
    line-height: 25px;
    font-size: 14px;
    color: #515151;
}

.c-finder-tree-leaf:hover,
.c-finder-tree-leaf:focus {
    background: #e1f5ff;
    color: #515151;
}

.c-finder-tree-leaf--has-children:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #646464;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.c-finder-tree-leaf--not-selectable,
.c-finder-tree-leaf--not-selectable:hover,
.c-finder-tree-leaf--not-selectable:focus {
    background-color: #eee;
    cursor: not-allowed;
}

.c-finder-tree-leaf--selected,
.c-finder-tree-leaf--selected:hover,
.c-finder-tree-leaf--selected:focus {
    background: #2b84b1;
    color: #fff;
}

.c-finder-tree-leaf--selected.c-finder-tree-leaf--has-children:after,
.c-finder-tree-leaf--selected.c-finder-tree-leaf--has-children:hover:after,
.c-finder-tree-leaf--selected.c-finder-tree-leaf--has-children:focus:after {
    border-left-color: #fff;
}

.c-finder-tree-leaf:hover:after,
.c-finder-tree-leaf:focus:after {
    border-left-color: #646464;
}

.c-finder-tree-leaf--selected.c-finder-tree-leaf--loading:after {
    display: none;
}

.c-finder-tree-leaf--loading .ez-icon {
    width: 16px;
    height: 16px;
    fill: #fff;
    position: absolute;
    right: 12px;
    top: 5px;
}

.c-finder-tree-leaf--selected .c-select-content-button {
    background: #fff;
}

.c-finder-tree-leaf--selected .c-select-content-button .ez-icon {
    fill: #106d95;
}

.c-finder-tree-leaf .c-select-content-button {
    display: none;
    padding: 2px;
    position: absolute;
    right: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
}

.c-finder-tree-leaf:hover .c-select-content-button,
.c-finder-tree-leaf:focus .c-select-content-button,
.c-finder-tree-leaf .c-select-content-button--selected {
    display: flex;
    align-items: center;
    justify-content: center;
}
