.c-finder-tree-branch {
    background: #fff;
    height: 100%;
    max-width: 24ch;
    flex: 0 0 24ch;
    border-radius: 4px;
    overflow: auto;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.c-finder-tree-branch__list-wrapper {
    max-height: 100%;
    overflow: auto;
}

.c-finder-tree-branch__load-more {
    border: 1px solid #106d95;
    background: none;
    display: block;
    text-align: center;
    color: #106d95;
    width: 80%;
    border-radius: 4px;
    margin: 0 auto 10px;
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

.c-finder-tree-branch__load-more:hover,
.c-finder-tree-branch__load-more:focus {
    background: #0f6d95;
    color: #fff;
    outline: none;
}

.c-finder-tree-branch--collapsed {
    flex: 0 0 3ch;
    cursor: pointer;
}

.c-finder-tree-branch--loading {
    pointer-events: none;
    opacity: 0.75;
}
