.c-finder {
    height: 100%;
}

.c-finder__branches {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    overflow: auto;
}

.c-finder__branches .c-finder-tree-branch + .c-finder-tree-branch {
    margin-left: 16px;
}
