.c-finder-tree-leaf {
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background .3s var(--transition-function);
    position: relative;
    background: #fff;
}

.c-finder-tree-leaf:hover,
.c-finder-tree-leaf:focus {
    background: #ddd;
}

.c-finder-tree-leaf--has-children:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #b30;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.c-finder-tree-leaf--selected {
    background: #eee;
}
